<div class="bold" style="margin-bottom:10px">Вход в систему:</div>

<% form_remote_tag :url => '/sessions',
                   :method => :post,
                   :loading => "$('#login_info').html('<div class=\"login_loading\">проверка данных...</div>')",
                   :id=> "login_form" do -%>

 <table>
   <tr>
     <td><label for="login">Логин: </label></td>
     <td><%= text_field_tag 'login', '', :class => "required" %></td>
   </tr>
   <tr>
     <td><label for="password">Пароль: </label></td>
     <td><%= password_field_tag 'password', '', :class => "required" %></td>
   </tr>
   <tr>
     <td colspan="2" align="center"><label for="remember_me">Запомнить меня: </label><%= check_box_tag 'remember_me' %></td>
   </tr>
   <tr>
     <td colspan="2" align="center">
      <div id="login_info"></div>
     </td>
   </tr>
   <tr>
     <td colspan="2" align="center">
      <%= button "Войти", "login_button", :style => "width:100px;float:left;margin-top:10px;margin-right:10px", :js => "$(this).parents('form')[0].onsubmit();" %>
      <input type="submit" style="display:none"/>
      <%= button "Отмена", "cancel", :style => "width:100px;float:left;margin-top:10px;margin-bottom:5px;", :klass => "simplemodal-close" %>
    </td>
   </tr>
 </table>

 <div class="bold"><a id="registration_link" href="#">Регистрация</a></div>
<% end -%>
