<% content_for :head do%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#search_location').change();
      $('#search_realty_type_id').change();

      $('.cause_fields_update').change(function(){
        $('#search_realty_fields').hide();

        $.ajax({
          type: "POST",
          url: "<%=update_realty_fields_realties_path%>",
          data: 'is_search=1&realty_type_id=' + $('#search_realty_type_id').val() + '&service_type_id=' + $('#search_service_type_id').val(),
          async: false,
          dataType: "html",
          success: function(html) {
            $('#search_realty_fields').html(html);
          }
        });

        $('#search_realty_fields').show();
      });

      $('#search_location').change(function(){
        $.ajax({
          type: "POST",
          url: "<%=update_realty_district_realties_path%>",
          data: 'is_search=1&location_id=' + $(this).val(),
          async: false,
          dataType: "json",
          success: function(json) {
            $('#adv_search_district_select').html(json.html);
            if (json.hide_place)
              $('.adv_place_div').hide();
            else
              $('.adv_place_div').show();
          }
        });
      });

      $('#advanced_search_form').validate();

    });
  </script>
<% end %>

<% form_tag realties_path, :method => "get", :id => "advanced_search_form" do %>
  <table>
    <tr>
      <td>Услуга:</td>
      <td>
        <select name="service" id="search_service_type_id" class="cause_fields_update">
          <%=  options_from_collection_for_select(ServiceType.find(:all), :id, :name, params[:service].to_i)  %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Вид объекта:</td>
      <td>
        <select name="type" id="search_realty_type_id" class="cause_fields_update">
          <%=  option_groups_from_collection_for_select(RealtyPurpose.find_all_by_disabled(false), :realty_types, :name, :id, :name, params[:type].to_i)  %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Местоположение:</td>
      <td><select id="search_location" name="location">
          <%= options_from_collection_for_select(Location.find(:all), "id", "name", params[:location].to_i) %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Район:</td>
      <td>
        <div id="adv_search_district_select">
          <%= render :partial => "realty_district_select", :locals => {:is_search => true, :location_id => Location.first.id } %>
        </div>
      </td>
    </tr>
    <tr>
      <td><div class="adv_place_div" style="display:none;">Населенный пункт:</div></td>
      <td>
        <div class="adv_place_div" style="display:none;">
          <%= text_field_tag(:place, params[:place], :class=>'fixed') %>
        </div>
      </td>
    </tr>
    <tr>
      <td>Цена:</td>
      <td>от<%=  text_field_tag(:price_from, params[:price_from], :size => 6, :class=>"number") %>
        до<%= text_field_tag(:price_to, params[:price_to], :size => 6, :class=>"number") %>
      </td>
    </tr>
    <tr>
      <td>Улица:</td>
      <td><%= text_field_tag :street, params[:street], :size => 20, :class=>"fixed" %></td>
    </tr>
    <tr>
      <td>Номер:</td>
      <td><%= text_field_tag :number, params[:number], :size => 20, :class=>"fixed" %></td>
    </tr>
    <tr>
      <td>Площадь:</td>
      <td><%=  text_field_tag :area_from, params[:area_from], :size => 7, :class=>"number" %>
        - <%= text_field_tag :area_to, params[:area_to], :size => 7, :class=>"number" %>
      </td>
    </tr>
  </table>

  <div id="search_realty_fields">
    <%= render :partial => "search_realty_fields", :locals => { :realty_type_id => RealtyType.first.id, :service_type_id => ServiceType.first.id } %>
  </div>

  <%= button "Искать!", "adv_search", :style => "width:150px", :submit => true %>
<% end %>