<% content_for :head do%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#basic_location').change(function(){
        $.ajax({
          type: "POST",
          url: "<%=update_realty_district_realties_path%>",
          data: 'is_search=1&location_id=' + $(this).val(),
          async: false,
          dataType: "json",
          success: function(json) {
            $('#realty_district_select').html(json.html);
            if (json.hide_place)
              $('.place_div').hide();
            else
              $('.place_div').show();
          }
        });
      });

      $('.cause_fields_update').change(function(){
        $('#advanced_seach').hide();

        $.ajax({
          type: "POST",
          url: "<%=update_realty_fields_realties_path%>",
          data: 'is_search=1&realty_type_id=' + $('#type').val() + '&service_type_id=' + $('#service').val(),
          async: false,
          dataType: "json",
          success: function(json) {
            $('#advanced_seach').html(json.html);
            $('#price_slider').slider('option', 'min', json.min);
            $('#price_slider').slider('option', 'max', json.max);
            $('#price_slider').slider('option', 'step', json.step);
            $('.accordion').accordion({autoHeight:false});
          }
        });

        $('#advanced_seach').show();
      });

    $('#advance_search_link').click(function(event) {
      event.preventDefault();
      $('#advanced_seach').toggle();
      $('#es').val($('#advanced_seach').is(':visible'));
    });

    $('#clear_search_link').click(function(event) {
      event.preventDefault();
      $('#basic_search_form :input').val('');
    });

      $('#basic_search_form').validate();
    });
  </script>
<% end %>

<% form_tag realties_path, :method => "get", :id => "basic_search_form" do %>
  <table style="margin:auto;">
    <tr>
      <td>Услуга:</td>
      <td><%= select_tag(:service, options_from_collection_for_select(ServiceType.find(:all), :id, :name, params["service"].to_i), :class => "cause_fields_update")  %></td>
    </tr>
    <tr>
      <td>Вид объекта:</td>
      <td>
        <select name="type" id="type" class="cause_fields_update">
          <%=  option_groups_from_collection_for_select(RealtyPurpose.find_all_by_disabled(false), :realty_types, :name, :id, :name, params[:type].to_i)  %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Местоположение:</td>
      <td><select id="basic_location" name="location">
          <%= options_from_collection_for_select(Location.find(:all), "id", "name", params[:location].to_i) %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Район:</td>
      <td>
        <div id="realty_district_select">
          <%= render :partial => "realty_district_select", :locals => {:is_search => true, :location_id => params[:location] || Location.first.id} %>
        </div>
      </td>
    </tr>
    <tr>
      <td><div class="place_div" style="display:none;">Населенный пункт:</div></td>
      <td>
        <div class="place_div" style="display:none;">
          <%= text_field_tag(:place, params[:place], :class=>'fixed') %>
        </div>
      </td>
    </tr>
    <tr>
      <td>Цена:</td>
      <td><%= slider "price", :style=>"font-size:9px;", :unit => "руб.", :min => @price_limit[:min], :max => @price_limit[:max],
                    :step => @price_limit[:step] %>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <%= text_field_tag :es, params[:es], :type => 'hidden' %>
        <a id="advance_search_link" href="#">Расширенный поиск</a>
        <a id="clear_search_link" href="#">Очистить поиск</a>
      </td>
    </tr>
  </table>

  <div id="advanced_seach" style="<%= 'display:none;' unless params['es'] == 'true' %>">
    <table style="margin:auto;">
      <tr>
      <td width="105px">Улица:</td>
      <td><%= text_field_tag :street, params[:street], :size => 20, :class=>"fixed" %></td>
    </tr>
    <tr>
      <td>Площадь:</td>
      <td><%=  text_field_tag :area_from, params[:area_from], :size => 7, :class=>"number" %>
        - <%= text_field_tag :area_to, params[:area_to], :size => 7, :class=>"number" %>
      </td>
    </tr>
    <tr>
      <td align="right"><%= check_box_tag :non_agency, 1, params[:non_agency]%></td>
      <td>Исключить агентства</td>
    </tr>
    </table>
    <%= render :partial => "search_realty_fields", :locals => { :realty_type_id => params[:type].to_i, :service_type_id => params["service"].to_i } %>
  </div>


    <%= button "Искать!", "basic_search", :style => "width:150px;margin:5px auto auto auto;", :submit => true %>
<% end %>