<% content_for :head do%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#basic_location').change(function(){
        $.ajax({
          type: "POST",
          url: "<%=update_realty_district_realties_path%>",
          data: 'is_search=1&location_id=' + $(this).val(),
          async: false,
          dataType: "json",
          success: function(json) {
            $('#realty_district_select').html(json.html);
            if (json.hide_place)
              $('.place_div').hide();
            else
              $('.place_div').show();
          }
        });
      });

      $('.update_price').change(function(){
        $.ajax({
          type: "POST",
          url: "<%=update_price_limits_realties_path%>",
          data: 'service_type_id=' + $('#service').val() + '&realty_type_id=' + $('#type').val(),
          async: false,
          dataType: "json",
          success: function(json) {
            $('#price_slider').slider('option', 'min', json.min);
            $('#price_slider').slider('option', 'max', json.max);
            $('#price_slider').slider('option', 'step', json.step);
            update_price_text();
          }
        });
      });

      $('#basic_search_form2').validate();

      $("#price_slider").slider({
			range: true,
			min: <%= @price_limit[:min] %>,
			max: <%= @price_limit[:max] %>,
            step: <%= @price_limit[:step] %>,
			values: [$("#price_from").val(), $("#price_to").val()],
			slide: function(event, ui) {
				update_price_text();
                $("#price_from").val(ui.values[0]);
                $("#price_to").val(ui.values[1]);
			}
		});

		update_price_text();
    });

    function update_price_text() {
      $("#price_text").html($("#price_slider").slider("values", 0) + ' руб. - ' + $("#price_slider").slider("values", 1) + ' руб.');
    }


  </script>
<% end %>

<% form_tag realties_path, :method => "get", :id => "basic_search_form" do %>
  <table>
    <tr>
      <td>Услуга:</td>
      <td><%= select_tag(:service, options_from_collection_for_select(ServiceType.find(:all), :id, :name, params["service"].to_i), :class => "update_price")  %></td>
    </tr>
    <tr>
      <td>Вид объекта:</td>
      <td>
        <select name="type" id="type" class="update_price">
          <%=  option_groups_from_collection_for_select(RealtyPurpose.find_all_by_disabled(false), :realty_types, :name, :id, :name, params[:type].to_i)  %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Местоположение:</td>
      <td><select id="basic_location" name="location">
          <%= options_from_collection_for_select(Location.find(:all), "id", "name", params[:location].to_i) %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Район:</td>
      <td>
        <div id="realty_district_select">
          <%= render :partial => "realty_district_select", :locals => {:is_search => true, :location_id => params[:location] || Location.first.id} %>
        </div>
      </td>
    </tr>
    <tr>
      <td><div class="place_div" style="display:none;">Населенный пункт:</div></td>
      <td>
        <div class="place_div" style="display:none;">
          <%= text_field_tag(:place, params[:place], :class=>'fixed') %>
        </div>
      </td>
    </tr>
    <tr>
      <td>Цена:</td>
      <td><%= text_field_tag :price_from, params[:price_from], :type=>"hidden" %>
        <%= text_field_tag :price_to, params[:price_to], :type=>"hidden" %>
        <div id="price_text" style="text-align:right;margin-bottom:3px;font-size:10px;"></div>
        <div id="price_slider"></div>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <a href="#">Расширенный поиск</a>
        <%= button "Искать!", "basic_search", :style => "width:150px", :submit => true %>
      </td>
    </tr>
  </table>
<% end %>