<% content_for :head do %>
  <script language="javascript" type="text/javascript">
      $(document).ready(function() {
          $("#r_list tbody tr").hover(
          function () {
              $(this).addClass("hover");
          },
          function () {
              $(this).removeClass("hover");
          }
          );

      $(".image").click(function(){
        $.ajax({
          type: "POST",
          url: "<%= note_realties_path %>",
          dataType: "script",
          data: "id=" + $(this).children("input").val(),
          success: function(result) {
            img = $('#id_' + result).parent("td").children("img");
            img.attr('src', '<%= image_path "ic.png" %>');
            img.attr('onmouseout', "this.src='<%= image_path "ic.png" %>'");
          }
        });
        return false;
      });
      });
  </script>
<% end %>

<div style="float:right;margin-top:10px;">
  <%= will_paginate realties %>
  <div style="float:left;margin-left:10px;margin-top:2px;">
    <strong>Всего: </strong><%= realties.total_entries %>
  </div>
</div>

<div style="clear:both"></div>

<% content_for :left do %>
  <% tab "Карта", :style => "margin-top:10px;" do%>
      <%= map(realties, :width => 253, :height => 400) %>
  <% end %>
<% end %>

<table class="grid" cellpadding="0" cellspacing="0" border="0" id="r_list">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th class="header"><%= sort_link "Цена", "price" %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <% index = 0 %>
  <% realties.each do |realty|%>
    <% index = index + 1 %>
    <tr onclick="document.location = '<%= realty_path realty%>'">
      <td class="center middle"><div class="realty_index bold"><br/><a name="r<%= index %>"><%= index %></a></div></td>
      <td class="center" width="100px">
        <%=h truncate(realty.district.location.name, 30) %><br/>
        <%=h truncate(realty.district.name, 30) %><br/>
        <%=h truncate(realty.street, 20) %>
      </td>
      <td>
        <%= truncate(get_description(realty), 135) %><br/>
          <div>
            <div style="float:left">
            <%= image_tag "p.png" unless realty.realty_photos.empty? %>
            </div>
            <div class="small right"><%=h truncate(realty.description, 65) %></div>
          </div>
      </td>

  <td class="price"><%=h number_to_currency(realty.price, :precision => 0) %></td>
      
      <td class="image" style="padding-right:5px;">
        <%= image_tag "nic.png", :mouseover=>"ic.png", :alt => "В блокнот" %>
        <%= hidden_field_tag "id_#{realty.id}", realty.id %>
      </td>
    </tr>
  <% end %>
</table>

<div style="float:right;margin-top:10px;">
  <%= will_paginate realties %>
  <div style="float:left;margin-left:10px;margin-top:2px;">
    <strong>Всего: </strong><%= realties.total_entries %>
  </div>
</div>