<table>
  <% get_realty_field_setting_groups(realty).each do |group, setting| %>
    <tr><td colspan="2" class="bold hb_line"><%=h group.name %></td></tr>
    <% setting.each do |setting| %>
      <tr>
        <td><%=h setting.realty_field.name %></td>
        <td>
          <% if setting.realty_field.realty_field_type.name == "list" %>
            <select name="<%=h get_realty_field_name(setting)%>">
              <% if !setting.required %>
                <option value=""></option>
              <% end %>
              <%= options_from_collection_for_select(get_list_field_values(setting), "id", "name", setting.realty_field_value(realty).to_i) %>
            </select>
          <% elsif setting.realty_field.realty_field_type.name == "bool" %>
            <select name="<%=h get_realty_field_name(setting)%>">
               <% if !setting.required %>
                  <option value=""></option>
               <% end %>
               <%= options_for_select({"Да"=>"1", "Нет"=>"0"}, setting.realty_field_value(realty)) %>
            </select>
            <%#= check_box_tag get_realty_field_name(setting), 1, setting.realty_field_value(realty)   %>
          <% elsif setting.realty_field.realty_field_type.name == "string" %>
            <%= text_field_tag get_realty_field_name(setting), setting.realty_field_value(realty), :class=>'fixed' %>
          <% else %>
            <%= text_field_tag get_realty_field_name(setting), setting.realty_field_value(realty), :class=>'fixed number' %>
          <% end %>
          <% if setting.required %>
            <font class="mandatory">*</font>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr><td colspan="2" height="5px"></td></tr>
  <% end %>
</table>