<% content_for :head do %>
  <script language="javascript" type="text/javascript">
    $(document).ready(function() {
      $('.noted').click(function(event){
        event.stopPropagation();
        id = $(this).closest('tr').attr('id');
        element = $(this);
        $.ajax({
          type: "POST",
          url: "<%= note_realties_path %>",
          dataType: "script",
          data: "id=" + id,
          success: function(result) {
            if(result == 'true')
              element.addClass('true');
            else
              element.removeClass('true');
          }
        });
      });

      $('.delete_link').click(function(event){
        event.stopPropagation();
        id = $(this).closest('tr').attr('id');
        if (confirm('Вы уверены, что хотите удалить это объявление?')) {
          $.ajax({
            type: "POST",
            url: "/realties/" + id,
            dataType: "html",
            data: "_method=delete&id=" + id,
            success: function() {
              document.location.reload(true);
          }});
        }
      });

      $('#r_list tr').click(function(){
        document.location = '/realties/' + $(this).attr('id');
      });
    });
  </script>
<% end %>

<div style="float:right;margin-top:10px;">
  <%= will_paginate realties %>
  <div style="float:left;margin-left:10px;margin-top:2px;">
    <strong>Всего: </strong><%= "#{realties.total_entries} #{Russian.p(realties.total_entries, "объект", "объекта", "объектов")}" %>
  </div>
</div>

<div style="clear:both"></div>

<table class="grid" cellpadding="0" cellspacing="0" border="0" id="r_list">
  <thead>
    <tr>
      <th class="header"><%= sort_link "Дата", "date" %></th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th class="header"><%= sort_link "Цена", "price" %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <% index = 0 %>
  <% realties.each do |realty|%>
    <% index = index + 1 %>
    <tr id="<%= realty.id %>">
      <td class="center middle">
        <div class="realty_index bold"><br/><a name="r<%= index %>"><%= index %></a></div>
        <div class="small" style="margin-top:2px;<%= "color:#009245;" if realty.new? %>"><%= Russian.strftime(realty.created_at, "%d %b") %></div>
      </td>
      <td class="center" width="100px">
        <a href="<%= realty_path realty%>">
          <%=h truncate(realty.district.location.name, :length => 30) %><br/>
          <%=h truncate(realty.district.name, :length => 30) %><br/>
          <%=h truncate(realty.district.location.is_place ? realty.street : realty.place, :length => 20) %>
        </a>
      </td>
      <td>
        <a href="<%= realty_path realty%>">
          <div class="realty_desc">
            <%= truncate(realty.full_description, :length => 135) %>
          </div>
          <div>
            <div style="float:left">
              <%= image_tag "p.png" unless realty.realty_photos.empty? %>
              <% if realty.user_can_edit?(current_user) %>
                <% link_to edit_realty_path(realty) do %>
                  <%= image_tag "layout_edit.png", :style => "border:0px", :title => "Редактировать" %>
                <% end %>
                <%= image_tag "delete.png", :style => "border:0px", :title => "Удалить", :class=>"delete_link"%>
              <% end %>
            </div>
            <div class="small right"><%=h truncate(realty.description, :length => 55) %></div>
          </div>
        </a>
      </td>

      <td class="price">
        <% if realty.price_blank? %>
          <span class="<%= ' predict_price' if realty.price_blank? %>">ориентировочно<br/></span>
        <% end %>
        <%=h number_to_currency(realty.price_or_predict, :precision => 0) %>
      </td>

      <td class="image" style="padding-right:0px;">
        <div class="noted <%= 'true' if in_notepad?(realty.id)%>" title="В блокнот"></div>
      </td>

    </tr>
  <% end %>
</table>

<div style="float:right;margin-top:10px;">
  <%= will_paginate realties %>
  <div style="float:left;margin-left:10px;margin-top:2px;">
    <strong>Всего: </strong><%= "#{realties.total_entries} #{Russian.p(realties.total_entries, "объект", "объекта", "объектов")}" %>
  </div>
</div>