<% content_for :head do %>
  <script>
      $(document).ready(function() {
        panel = $.cookie("quick_panel");
        if(panel)
          open_close_panel(panel);
      });

    function open_close_panel(pid) {
        var alreadyVisible = $("#" + pid).is(':visible');
        $(".quick_panel td").each(function(){
                $(this).removeClass("selected");
            });
        $(".panel").each(function(){
                $.cookie("quick_panel", null);
                $(this).hide();
            });
        $(".quick_panel .panel_content").each(function(){
                $(this).hide();
            });
        $('.bottom').hide();
            
        if(!alreadyVisible) {
            $("#" + pid + "_btn").addClass("selected");
            $(".panel").each(function(){
                $(this).show();
                $('.bottom').show();
            });
            $.cookie("quick_panel", $("#" + pid)[0].id);
            $("#" + pid).show();
        }
    }
  </script>
<% end %>
<table class="quick_panel" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="hb_line left">&nbsp;</td>
    <% left_panels.each do |p| %>
        <td id="<%= p[0]%>_btn" nowrap="true" class="hb_line vr_line fill text" onclick="open_close_panel('<%= p[0] %>');return false;"><%=h p[1]%></td>
    <% end %>
    <td class="hb_line vr_line fill text" style="width:250px;cursor:default;">&nbsp;</td>
    <% right_panels.each do |p| %>
        <td id="<%= p[0]%>_btn" nowrap="true" class="hb_line vr_line fill text" onclick="open_close_panel('<%= p[0] %>');return false;"><%=h p[1]%></td>
    <% end %>
    <td class="hb_line right">&nbsp;</td>
  </tr>
  <tr class="panel" style="display:none;">
    <td colspan="<%= left_panels.length + right_panels.length + 3%>" class="vl_line vr_line content" style="padding:5px;"><%= body %> </td>
  </tr>
  <tr class="bottom" style="display:none;">
    <td class="lb"></td>
    <td colspan="<%= left_panels.length + right_panels.length + 1%>" class="hb_line content" style="line-height:1px;">&nbsp;</td>
    <td class="rb"></td>
  </tr>
</table>
