<h1>Listing realty_purposes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for realty_purpose in @realty_purposes %>
  <tr>
    <td><%=h realty_purpose.name %></td>
    <td><%= link_to 'Show', realty_purpose %></td>
    <td><%= link_to 'Edit', edit_realty_purpose_path(realty_purpose) %></td>
    <td><%= link_to 'Destroy', realty_purpose, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New realty_purpose', new_realty_purpose_path %>
