<h1>Listing contact_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Validator</th>
    <th>Validation error</th>
    <th>Rank</th>
  </tr>

<% for contact_type in @contact_types %>
  <tr>
    <td><%=h contact_type.name %></td>
    <td><%=h contact_type.validator %></td>
    <td><%=h contact_type.validation_error %></td>
    <td><%=h contact_type.rank %></td>
    
    <td><%= link_to 'Edit', edit_contact_type_path(contact_type) %></td>
    <td><%= link_to 'Destroy', contact_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact_type', new_contact_type_path %>
