<h1>New contact_type</h1>

<% form_for(@contact_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :validator %><br />
    <%= f.text_field :validator %>
  </p>
  <p>
    <%= f.label :validation_error %><br />
    <%= f.text_field :validation_error %>
  </p>
  <p>
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', contact_types_path %>
