<h1>New district_street</h1>

<% form_for(@district_street) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :district_id %><br />
    <%= f.text_field :district_id %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', district_streets_path %>
