<% content_for :head do%>
  <script language="javascript" type="text/javascript">
    $(document).ready(function() {
      $("#leasing").click(function() { document.location = "/?service=1"; });
      $("#sale").click(function() { document.location = "/?service=2"; });
      $("#agencies").click(function() { document.location = "/organizations"; });
      $("#profile").click(function() {
  <% if current_user %>
          document.location = "<%= profile_user_path current_user%> ";
  <% else %>
          showLoginDialog();
  <% end %>
      });
      $("#login_b").click(showLoginDialog);
      $("#logout").click(function() { document.location = "<%= logout_path %>"; });
      $("#registration_link").click(function() {$("#login_part").hide();$("#register_part").show();});
      $("#login_link").click(function() {$("#register_part").hide();$("#login_part").show();});

      jQuery.validator.messages.required = "";
      jQuery.validator.messages.number = "";
      jQuery.validator.messages.email = "";

      $('#login_form').validate();
      $('#registration_form').validate();

      <% if params[:login].to_i == 1 %>
        showLoginDialog();
      <%  end %>
    });

    function showLoginDialog() {
      $("#login_dialog").modal();
    }

    
  </script>
<% end %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Streety - Ваш инструмент в мире недвижимости</title>
    <%= stylesheet_link_tag 'doma33' %>
    <%= javascript_include_tag :defaults,
      "jquery.simplemodal-1.1.1.pack.js",
      "jquery.cookie.pack.js",
      "jquery.textarearesizer.compressed.js",
      "jquery.validate.min.js",
      "jquery.galleriffic.min"
    %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <script>
      $(document).ajaxSend(function(event, request, settings) {
        if (typeof(AUTH_TOKEN) == "undefined") return;
        settings.data = settings.data || "";
        settings.data += (settings.data ? "&" : "") + "authenticity_token=" + encodeURIComponent(AUTH_TOKEN);
      });
    </script>
    <%= yield :head %>
  </head>
  <body>
    
    <div id="airlock">
      <div id="header">
        <div class="l_part"></div>
        <div class="f_part">
          <div class="text">
            <span><%= Russian.strftime(Time.now, "На %d %B %Y года")%></span><br/>
            <span><%= "#{Russian.p(Realty.count, "обработан", "обработано", "обработано")} #{Realty.count} #{Russian.p(Realty.count, "объект", "объекта", "объектов")}" %></span><br/>
            <span class="bold">&nbsp;
            <% if logged_in? %>
              Пользователь: <%=h current_user.login %>
            <% end %>
            </span><br/><br/>
            <span class="bold underline" style="font-size:12px">Владимир и Владимирская область</span>
          </div>
          <div class="menu">
            <div class="<%= menu_item_class "service=1", :service, 1 %>"><div id="leasing">Аренда</div></div>
            <div class="<%= menu_item_class "service=2", :service, 2 %>"><div id="sale">Продажа</div></div>
            <div class="<%= menu_item_class "analysis" %>"><div id="analysis">Анализ</div></div>
            <div class="<%= menu_item_class "organizations" %>"><div id="agencies">Агентства</div></div>
            <div class="<%= menu_item_class "profile" %>"><div id="profile">Профиль</div></div>
            <div class="<%= menu_item_class %>" id="<%= logged_in? ? 'logout' : 'login_b' %>">
              <div><%= logged_in? ? "Выход" : "Вход"%></div>
            </div>
          </div>
        </div>
      </div>

      <table cellpadding="0" cellspacing="0" border="0" style="clear:both;width:100%;margin-top:15px;">
        <tr>
          <td valign="top" style="padding-right:10px;">
            <%= yield :left %>
            <div style="color: green;clear:both;"><%= flash[:notice] %></div>
          </td>
          <td valign="top" height="900px">
            <%= yield %>
          </td>
        </tr>
      </table>

      <%= render :partial => "create_user_request", :locals => { :params => @pars, :created => false} if params[:unavailable] && @pars %>
    
    </div>

    <div class="modalContainer">
        <div id="login_dialog" class="modal" align="center">
          <div id="login_part"><%= render :partial => "sessions/login" %></div>
          <div id="register_part" style="display:none;"><%= render :partial => "users/new" %></div>
        </div>
      </div>
    <div id="footer">&nbsp;</div>
    <div id="footer_text">AnjLab, 2009. Все права защищены.</div>

  </body>
</html>

